html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

// body {
    
//             // background-color: #fef3e4;
//             background-image: url("/src/images/header/left-donats.png"), url("/src/images/header/bg.png");
//             background-repeat: no-repeat;
//             background-position: left top, top;
//             background-origin: padding-box;
//             background-size: auto, contain;
//             // object-fit: cover;
//             // background-image: url("/src/images/header/bg.png");
//             //         background-repeat: no-repeat;
//             //             background-position: top;
    
// }

img {
    display: block;
    max-width: 100%;
    height: auto;
}