:root {
    /* text colors*/
    --main-text-cl: #2E2520;
    --secondary-text-cl: #000000;
    --hover-text-cl: #876655;
    --button-text-cl: #ffffff;
    --decoration-text-cl: #AB816C80;
    --placeholder-cl: #C0C0C0;

    /* background colors */
    --main-bg-cl: #fffff9;
    --button-bg-cl: #AB816C;
    --btn-hover-bg-cl: #826759;
    --event-bg-cl: #FEF3E4;
    --error-cl: #DC143C;

    /* animation */
    --transition-duration: 300ms;
    --transition-timing-function: ease-in;
}