.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    background-color: var(--event-bg-cl);
    border: 1px solid transparent;
    cursor: pointer;

    &--open {
        margin-left: auto;

        @include mq(mobile){
            animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 4s both;
        }
    }

    &--close {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    transition: color var(--transition-duration) var(--transition-timing-function);

    @include mq(desktop){
        display: none;
    }

    &:hover,
    &:focus {
        color: var(--btn-hover-bg-cl);
    }
}

.burger-btn__icon {
    fill: currentColor;
    width: 30px;
    height: 16px;
}

.close__icon {
    fill: currentColor;
    width: 18px;
    height: 18px;
}