<section class="about__section" id="about">
  <div class="container about__container">
    <h2 class="about__title about__title--indent section-title">About us</h2>
    <p class="about__text about__text--indent">
      Oh My Donut is the shop which adores tasty deserts and spend hours to
      create sophisticated donuts which will save the world! <br /><br />
      Eva has been baking since she was six years old and over the last 49
      years, she has created hundreds of cakes for weddings and has baked for
      many celebrities. Eva and our shop have received multiple awards &
      recognition for excellence.
      <span class="read-more-text__about invisible">
        <br /><br />
        We are going to teach you how to cook with passion and sparkles in your
        eyes! We love what we do and believe you will enjoy our cooking
        atmosphere!</span
      >
    </p>
    <button class="more__button read-more-btn__about" type="button">
      Read more
    </button>
    <button class="more__button read-less-btn__about invisible" type="button">
      Less
    </button>
  </div>
</section>
