<section class="cocktails-list">
  <div class="container cocktails-list__container">
    <h1 class="cocktails-list__title">You can choose anything you want...</h1>
    <ul class="cocktails-list__list list">
      <li class="cocktails-list__item">
        <img
          class="cocktails-list__img"
          src="images/cocktails-list/margarita.jpg"
          alt="margarita"
        />
        <div class="cocktails-list__info-box">
          <ul class="cocktails-list__info-list list">
            <li class="cocktails-list__info-item">
              <p class="cocktails-list__composition">
                Composition:
                <span class="cocktails-list__ingredients"
                  >tequila, lime juice, salt</span
                >
              </p>
            </li>
            <li class="cocktails-list__info-item">
              <p class="cocktails-list__fact">
                <span class="cocktails-list__fact-question"
                  >Did you know that...</span
                ><br />
                <span class="cocktails-list__fact-text"
                  >the rims of glasses are covered with a thin layer of salt to
                  enhance the taste of the drink.</span
                >
              </p>
            </li>
          </ul>
        </div>
      </li>
      <li class="cocktails-list__item">
        <img
          class="cocktails-list__img"
          src="images/cocktails-list/cosmopolitan.jpg"
          alt="cosmopolitan"
        />
        <div class="cocktails-list__info-box">
          <ul class="cocktails-list__info-list list">
            <li class="cocktails-list__info-item">
              <p class="cocktails-list__composition">
                Composition:
                <span class="cocktails-list__ingredients"
                  >vodka, cranberry, orange liqueur, citrus</span
                >
              </p>
            </li>
            <li class="cocktails-list__info-item">
              <p class="cocktails-list__fact">
                Did you know that...<span class="cocktails-list__fact-text"
                  >this cocktail was named in honor of the famous magazine</span
                >
              </p>
            </li>
          </ul>
        </div>
      </li>
      <li class="cocktails-list__item">
        <img
          class="cocktails-list__img"
          src="images/cocktails-list/mojito.jpg"
          alt="mojito"
        />
        <div class="cocktails-list__info-box">
          <ul class="cocktails-list__info-list list">
            <li class="cocktails-list__info-item">
              <p class="cocktails-list__composition">
                Composition:
                <span class="cocktails-list__ingredients"
                  >mint, white rum, sugar, zesty lime, cooling soda water</span
                >
              </p>
            </li>
            <li class="cocktails-list__info-item">
              <p class="cocktails-list__fact">
                Did you know that...<span class="cocktails-list__fact-text"
                  >mojito was Hemingway's favorite drink</span
                >
              </p>
            </li>
          </ul>
        </div>
      </li>
      <li class="cocktails-list__item">
        <img
          class="cocktails-list__img"
          src="images/cocktails-list/mojito.jpg"
          alt="mojito"
        />
        <div class="cocktails-list__info-box">
          <ul class="cocktails-list__info-list list">
            <li class="cocktails-list__info-item">
              <p class="cocktails-list__composition">
                Composition:
                <span class="cocktails-list__ingredients"
                  >mint, white rum, sugar, zesty lime, cooling soda water</span
                >
              </p>
            </li>
            <li class="cocktails-list__info-item">
              <p class="cocktails-list__fact">
                Did you know that...<span class="cocktails-list__fact-text"
                  >mojito was Hemingway's favorite drink</span
                >
              </p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
