<section class="contacts__section" id="contacts">
  <div class="container contacts__container">
    <h2 class="contacts__title contacts__title--indent section-title">
      Contact
    </h2>
    <p class="contacts__subtitle contacts__subtitle--indent">
      We will answer any question!
    </p>
    <form
      class="contacts-form__form contacts-form__form--indent"
      autocomplete="off"
    >
      <div class="form-wrapper form-wrapper--indent">
        <label class="form-group contacts__form-group">
          <input
            class="form-input contacts__form-input"
            type="email"
            name="usermail"
            placeholder=" "
          />
          <span class="form-label contacts__form-label">Email</span>
        </label>
        <label class="form-group contacts__form-group">
          <input
            class="form-input contacts__form-input"
            type="text"
            name="username"
            placeholder=" "
          />
          <span class="form-label contacts__form-label"
            >Type your question</span
          >
        </label>
      </div>
      <button class="submit-btn register-btn" type="submit">Send</button>
    </form>
  </div>
</section>
