<section class="contacts__section" id="contacts">
  <div class="container contacts__container">
    <h2 class="section-title contacts__title contacts__title--indent">
      Contact
    </h2>
    <p class="contacts__subtitle contacts__subtitle--indent">
      We will answer any question!
    </p>
    <form
      name="contacts"
      class="contacts-form__form contacts-form__form--indent"
      autocomplete="off"
    >
      <div class="form-wrapper form-wrapper--indent">
        <label class="form-group contacts__form-group">
          <input
            class="form-input contacts__form-input"
            type="email"
            name="usercontactmail"
            placeholder="donut@gmail.com"
          />
          <span class="form-label contacts__form-label">Email</span>
        </label>
        <label class="form-group contacts__form-group">
          <input
            class="form-input contacts__form-input"
            type="text"
            name="text"
            placeholder="Do i need to take anything with me?"
          />
          <span class="form-label contacts__form-label"
            >Type your question</span
          >
        </label>
      </div>
      <button class="submit-btn contacts-btn" type="submit">Send</button>
    </form>
  </div>
</section>
