<header class="header header__section">
  <div class="container header__container">
    <nav class="header-nav header-nav--indent">
      <a
        class="header-nav__logo-link header-nav__logo-link--indent link"
        href=""
      >
        <img
          width="96px"
          class="header-nav__logo-img"
          src="images/header/logo/logo_sm.png"
          alt="logo"
        />
      </a>
      <ul class="desktop-header__list desktop-header__list--indent list">
        <li class="desktop-header__item">
          <a class="desktop-header__link link" href="#about">About us</a>
        </li>
        <li class="desktop-header__item">
          <a class="desktop-header__link link" href="#program">Program</a>
        </li>
        <li class="desktop-header__item">
          <a class="desktop-header__link link" href="#reviews">Reviews</a>
        </li>
        <li class="desktop-header__item">
          <a class="desktop-header__link link" href="#contacts">Contacts</a>
        </li>
      </ul>
      <button
        class="menu-btn menu-btn--open"
        type="button"
        data-action="open-menu"
      >
        <svg class="burger-btn__icon">
          <use href="images/icons.svg/symbol-defs.svg#burger-menu-icon"></use>
        </svg>
      </button>
    </nav>
    <div class="hero__block">
      <h1 class="header__title header__title--indent">
        Donut Masterclass <br />
        with the Donut King
      </h1>
      <p class="header__subtitle header__subtitle--indent">
        Hosted by Eva Green
      </p>
      <a
        class="header__link header__link--indent link register-btn"
        href="#registration"
        >Register</a
      >
      <ul class="socials-list socials-list--header list">
        <li class="socials-list__item">
          <a class="socials-list__link link" href="">
            <svg class="socials-list__icon">
              <use href="images/icons.svg/symbol-defs.svg#twitter-icon"></use>
            </svg>
          </a>
        </li>
        <li class="socials-list__item">
          <a class="socials-list__link link" href="">
            <svg class="socials-list__icon">
              <use href="images/icons.svg/symbol-defs.svg#instagram-icon"></use>
            </svg>
          </a>
        </li>
        <li class="socials-list__item">
          <a class="socials-list__link link" href="">
            <svg class="socials-list__icon">
              <use href="images/icons.svg/symbol-defs.svg#facebook-icon"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
