<section class="hero overlay">
    <div class="container hero__container">
        <h1 class="hero__title">
            <span class="hero__word hero__word--first-part">Bring</span> 
            <span class="hero__word hero__word--second-part">yourself</span> 
            <span class="hero__word hero__word--third-part">
                <span class="lowercase-word">to a</span> 
                world
            </span> 
            <span class="hero__word hero__word--fourth-part">
                <span class="lowercase-word">of</span> 
                tastes!
            </span>
        </h1>
        <button class="hero__btn" type="button">Сhoose a cocktail</button>
    </div>
</section>