<div class="backdrop js-backdrop">
  <div class="menu">
    <button
      type="button"
      class="menu-btn menu-btn--close"
      data-action="close-menu"
    >
      <svg class="close__icon">
        <use href="images/icons.svg/symbol-defs.svg#close-icon"></use>
      </svg>
    </button>
    <a class="menu__logo link" href="">
      <picture>
        <!-- Set of images for mobile and tablet screens -->
        <source
          media="(max-width: 1279px)"
          srcset="
            images/header/logo/menu-logo.webp     1x,
            images/header/logo/menu-logo_@2x.webp 2x
          "
          type="image/webp"
        />
        <source
          media="(max-width: 1279px)"
          srcset="
            images/header/logo/menu-logo.png     1x,
            images/header/logo/menu-logo_@2x.png 2x
          "
          type="image/png"
        />
        <!-- Default image -->
        <img
          class="header-nav__logo-img"
          src="images/header/logo/menu-logo.png"
          alt="logotype"
          loading="lazy"
        />
      </picture>
    </a>
    <ul class="menu__list list">
      <li class="menu__item">
        <a class="menu__link link" href="#about">About us</a>
      </li>
      <li class="menu__item">
        <a class="menu__link link" href="#program">Program</a>
      </li>
      <li class="menu__item">
        <a class="menu__link link" href="#reviews">Reviews</a>
      </li>
      <li class="menu__item">
        <a class="menu__link link" href="#contacts">Contacts</a>
      </li>
    </ul>
  </div>
</div>
