<div class="backdrop js-backdrop">
  <div class="menu">
    <button
      type="button"
      class="menu-btn menu-btn--close"
      data-action="close-menu"
    >
      <svg class="close__icon">
        <use href="images/icons.svg/symbol-defs.svg#close-icon"></use>
      </svg>
    </button>
    <a class="menu__logo link" href="">
      <img
        width="190px"
        class="header-nav__logo-img"
        src="images/header/logo/menu-logo.png"
        alt="logo"
      />
    </a>
    <ul class="menu__list list">
      <li class="menu__item">
        <a class="menu__link link" href="#about">About us</a>
      </li>
      <li class="menu__item">
        <a class="menu__link link" href="#program">Program</a>
      </li>
      <li class="menu__item">
        <a class="menu__link link" href="#reviews">Reviews</a>
      </li>
      <li class="menu__item">
        <a class="menu__link link" href="#contacts">Contacts</a>
      </li>
    </ul>
  </div>
</div>
