<section class="program__section" id="program">
  <div class="container program__container">
    <div class="program__text-block program__text-block--indent">
      <h2 class="program__title program__title--indent section-title">
        Program
      </h2>
      <p
        class="program__first-text-block-paragraph program__first-text-block-paragraph--indent"
      >
        Indulge in this immersive sweet treat experience with The Chef Donut
        Queen in her New York donut shop!
      </p>
      <ul
        class="program__text-block-list program__text-block-list--indent list"
      >
        <li class="program__text-block-item program__text-block-item--indent">
          <p
            class="program__text-block-paragraph program__text-block-paragraph--indent"
          >
            A stand up history of donuts
          </p>
        </li>
        <li class="program__text-block-item program__text-block-item--indent">
          <p
            class="program__text-block-paragraph program__text-block-paragraph--indent"
          >
            Make 3 donut flavors of your choice
          </p>
        </li>
        <li class="program__text-block-item program__text-block-item--indent">
          <p
            class="program__text-block-paragraph program__text-block-paragraph--indent"
          >
            Enjoy all-you-can-eat donuts
          </p>
        </li>
        <li class="program__text-block-item program__text-block-item--indent">
          <p
            class="program__text-block-paragraph program__text-block-paragraph--indent"
          >
            Cocktail pairings and coffee included
          </p>
        </li>
        <li class="program__text-block-item program__text-block-item--indent">
          <p
            class="program__text-block-paragraph program__text-block-paragraph--indent"
          >
            Photoshoot by professional photographer
          </p>
        </li>
        <li class="program__text-block-item program__text-block-item--indent">
          <p
            class="program__text-block-paragraph program__text-block-paragraph--indent"
          >
            Secret receipt of cooking from Eva
          </p>
        </li>
        <li class="program__text-block-item program__text-block-item--indent">
          <p
            class="program__text-block-paragraph program__text-block-paragraph--indent"
          >
            All products are included in the price
          </p>
        </li>
      </ul>
      <p
        class="program__second-text-block-paragraph program__second-text-block-paragraph--indent"
      >
        <span class="read-more-text__program invisible"
          >Come with your dear people and friends and you will spend an
          unforgettable time and will become a real professional in donuts
          cooking!</span
        >
      </p>
      <button
        class="more__button read-more-btn__program read-more-btn__program--indent"
        type="button"
      >
        Read more
      </button>
      <button
        class="more__button read-less-btn__program read-less-btn__program--indent invisible"
        type="button"
      >
        Less
      </button>
    </div>
    <div class="event-info__block">
      <ul class="event-info__list list">
        <li class="event-info__item">
          <picture>
            <!-- Set of images for desktop screens -->
            <source
              media="(min-width: 1280px)"
              srcset="
                images/program/don-1_lg.webp    1x,
                images/program/don-1_lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                images/program/don-1_lg.png    1x,
                images/program/don-1_lg@2x.png 2x
              "
              type="image/png"
            />
            <!-- Set of images for tablet screens -->
            <source
              media="(min-width: 768px)"
              srcset="
                images/program/don-1_md.webp    1x,
                images/program/don-1_md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                images/program/don-1_md.png    1x,
                images/program/don-1_md@2x.png 2x
              "
              type="image/png"
            />
            <!-- Set of images for mobile screens -->
            <source
              media="(max-width: 767px)"
              srcset="
                images/program/don-1_sm.webp    1x,
                images/program/don-1_sm@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                images/program/don-1_sm.png    1x,
                images/program/don-1_sm@2x.png 2x
              "
              type="image/png"
            />
            <!-- Default image -->
            <img
              class="event-info__img"
              src="images/program/don-1_sm.png"
              alt="donut"
              loading="lazy"
              width="80"
              height="80"
            />
          </picture>
          <h3 class="event-info__title">Type of the event</h3>
          <p class="event-info__text">Cooking classes</p>
        </li>
        <li class="event-info__item">
          <picture>
            <!-- Set of images for desktop screens -->
            <source
              media="(min-width: 1280px)"
              srcset="
                images/program/don-2_lg.webp    1x,
                images/program/don-2_lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                images/program/don-2_lg.png    1x,
                images/program/don-2_lg@2x.png 2x
              "
              type="image/png"
            />
            <!-- Set of images for tablet screens -->
            <source
              media="(min-width: 768px)"
              srcset="
                images/program/don-2_md.webp    1x,
                images/program/don-2_md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                images/program/don-2_md.png    1x,
                images/program/don-2_md@2x.png 2x
              "
              type="image/png"
            />
            <!-- Set of images for mobile screens -->
            <source
              media="(max-width: 767px)"
              srcset="
                images/program/don-2_sm.webp    1x,
                images/program/don-2_sm@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                images/program/don-2_sm.png    1x,
                images/program/don-2_sm@2x.png 2x
              "
              type="image/png"
            />
            <!-- Default image -->
            <img
              class="event-info__img"
              src="images/program/don-2_sm.png"
              alt="donut"
              loading="lazy"
              width="80"
              height="80"
            />
          </picture>
          <h3 class="event-info__title">Number of guests</h3>
          <p class="event-info__text">1 to 20</p>
        </li>
        <li class="event-info__item">
          <picture>
            <!-- Set of images for desktop screens -->
            <source
              media="(min-width: 1280px)"
              srcset="
                images/program/don-3_lg.webp    1x,
                images/program/don-3_lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                images/program/don-3_lg.png    1x,
                images/program/don-3_lg@2x.png 2x
              "
              type="image/png"
            />
            <!-- Set of images for tablet screens -->
            <source
              media="(min-width: 768px)"
              srcset="
                images/program/don-3_md.webp    1x,
                images/program/don-3_md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                images/program/don-3_md.png    1x,
                images/program/don-3_md@2x.png 2x
              "
              type="image/png"
            />
            <!-- Set of images for mobile screens -->
            <source
              media="(max-width: 767px)"
              srcset="
                images/program/don-3_sm.webp    1x,
                images/program/don-3_sm@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                images/program/don-3_sm.png    1x,
                images/program/don-3_sm@2x.png 2x
              "
              type="image/png"
            />
            <!-- Default image -->
            <img
              class="event-info__img"
              src="images/program/don-3_sm.png"
              alt="donut"
              loading="lazy"
              width="80"
              height="80"
            />
          </picture>
          <h3 class="event-info__title">Time of the event</h3>
          <p class="event-info__text">18:30 (2.5 hours)</p>
        </li>
        <li class="event-info__item">
          <picture>
            <!-- Set of images for desktop screens -->
            <source
              media="(min-width: 1280px)"
              srcset="
                images/program/don-4_lg.webp    1x,
                images/program/don-4_lg@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                images/program/don-4_lg.png    1x,
                images/program/don-4_lg@2x.png 2x
              "
              type="image/png"
            />
            <!-- Set of images for tablet screens -->
            <source
              media="(min-width: 768px)"
              srcset="
                images/program/don-4_md.webp    1x,
                images/program/don-4_md@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                images/program/don-4_md.png    1x,
                images/program/don-4_md@2x.png 2x
              "
              type="image/png"
            />
            <!-- Set of images for mobile screens -->
            <source
              media="(max-width: 767px)"
              srcset="
                images/program/don-4_sm.webp    1x,
                images/program/don-4_sm@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                images/program/don-4_sm.png    1x,
                images/program/don-4_sm@2x.png 2x
              "
              type="image/png"
            />
            <!-- Default image -->
            <img
              class="event-info__img"
              src="images/program/don-4_sm.png"
              alt="donut"
              loading="lazy"
              width="80"
              height="80"
            />
          </picture>
          <h3 class="event-info__title">The host speaks</h3>
          <p class="event-info__text">English, French</p>
        </li>
      </ul>
    </div>
  </div>
</section>
