<section class="program">
  <div class="container program__container">
    <h2 class="program__title program__title--indent section-title">Program</h2>
    <div class="program__text-block">
      <p
        class="program__first-text-block-paragraph program__first-text-block-paragrap--indent"
      >
        Indulge in this immersive sweet treat experience with The Chef Donut
        Queen in her New York donut shop!
      </p>
      <ul
        class="program__text-block-list program__text-block-list--indent list"
      >
        <li class="program__text-block-item program__text-block-item--indent">
          <p
            class="program__text-block-paragraph program__text-block-paragraph--indent"
          >
            A stand up history of donuts
          </p>
        </li>
        <li class="program__text-block-item program__text-block-item--indent">
          <p
            class="program__text-block-paragraph program__text-block-paragraph--indent"
          >
            Make 3 donut flavors of your choice
          </p>
        </li>
        <li class="program__text-block-item program__text-block-item--indent">
          <p
            class="program__text-block-paragraph program__text-block-paragraph--indent"
          >
            Enjoy all-you-can-eat donuts
          </p>
        </li>
        <li class="program__text-block-item program__text-block-item--indent">
          <p
            class="program__text-block-paragraph program__text-block-paragraph--indent"
          >
            Cocktail pairings and coffee included
          </p>
        </li>
        <li class="program__text-block-item program__text-block-item--indent">
          <p
            class="program__text-block-paragraph program__text-block-paragraph--indent"
          >
            Photoshoot by professional photographer
          </p>
        </li>
        <li class="program__text-block-item program__text-block-item--indent">
          <p
            class="program__text-block-paragraph program__text-block-paragraph--indent"
          >
            Secret receipt of cooking from Eva
          </p>
        </li>
        <li class="program__text-block-item program__text-block-item--indent">
          <p
            class="program__text-block-paragraph program__text-block-paragraph--indent"
          >
            All products are included in the price
          </p>
        </li>
      </ul>
      <p
        class="program__second-text-block-paragraph program__second-text-block-paragrap--indent"
      >
        <span class="read-more-text__program invisible"
          >Come with your dear people and friends and you will spend an
          unforgettable time and will become a real professional in donuts
          cooking!</span
        >
      </p>
      <button
        class="more__button read-more-btn__program read-more-btn__program--indent"
        type="button"
      >
        Read more
      </button>
      <button
        class="more__button read-less-btn__program read-less-btn__program--indent invisible"
        type="button"
      >
        Less
      </button>
    </div>
    <div class="event-info__block">
      <ul class="event-info__list list">
        <li class="event-info__item">
          <img
            class="event-info__img"
            src="/src/images/program/donut-1.png"
            alt=""
          />
          <h3 class="event-info__title">Type of the event</h3>
          <p class="event-info__text">Cooking classes</p>
        </li>
        <li class="event-info__item">
          <img
            class="event-info__img"
            src="/src/images/program/donut-2.png"
            alt=""
          />
          <h3 class="event-info__title">Number of guests</h3>
          <p class="event-info__text">1 to 20</p>
        </li>
        <li class="event-info__item">
          <img
            class="event-info__img"
            src="/src/images/program/donut-3.png"
            alt=""
          />
          <h3 class="event-info__title">Time of the event</h3>
          <p class="event-info__text">18:30 (2.5 hours)</p>
        </li>
        <li class="event-info__item">
          <img
            class="event-info__img"
            src="/src/images/program/donut-4.png"
            alt=""
          />
          <h3 class="event-info__title">The host speaks</h3>
          <p class="event-info__text">English, French</p>
        </li>
      </ul>
    </div>
  </div>
</section>
