<section class="registration__section" id="registration">
  <div
    data-aos="flip-left"
    data-aos-duration="2000"
    class="registration__container container"
  >
    <h2 class="registration__title registration__title--indent section-title">
      Registration
    </h2>
    <div class="registration__wrapper">
      <div class="registration__info">
        <h2
          class="registration__title-mobile registration__title-mobile--indent section-title"
        >
          Registration
        </h2>
        <div class="registration__info-text">
          <p class="registration__timetable registration__timetable--indent">
            May 23, 11:00<br />
            New York
          </p>
          <p class="registration__price registration__price--indent">$ 699</p>
        </div>
      </div>
      <div class="registration-form__container">
        <form
          name="registration"
          class="registration-form__form registration-form__form--indent"
          autocomplete="off"
        >
          <div class="form-wrapper form-wrapper--indent">
            <p
              class="registration-form__title registration-form__title--indent"
            >
              Apply your personal info <br />
              for registration
            </p>
            <label class="form-group registration__form-group">
              <input
                class="form-input registration__form-input"
                type="text"
                name="username"
                placeholder="Jane"
              />
              <span class="form-label registration__form-label">Your name</span>
            </label>
            <label class="form-group registration__form-group">
              <input
                class="form-input registration__form-input"
                type="tel"
                name="userphone"
                placeholder="095 555 55 00"
              />
              <span class="form-label registration__form-label"
                >Phone number</span
              >
            </label>
            <label class="form-group registration__form-group">
              <input
                class="form-input registration__form-input"
                type="email"
                name="usermail"
                placeholder="donut@gmail.com"
              />
              <span class="form-label registration__form-label">Email</span>
            </label>
          </div>
          <button name="btn" class="submit-btn register-btn" type="submit">
            Register
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
