<section class="reviews__section" id="reviews">
  <div class="img-wrapper"></div>
  <div class="container reviews__container">
    <h2 class="reviews__title reviews__title--indent section-title">Reviews</h2>
    <div class="swiper reviews__slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <article class="swiper-slide">
          <div class="slider-container">
            <img
              class="slider__img slider__img--indent"
              src="images/reviews/pic.png"
              alt=""
            />
            <svg class="slider__rate slider__rate--indent">
              <use href="images/icons.svg/symbol-defs.svg#rate-icon"></use>
            </svg>
            <p class="slider__name slider__name--indent">Will</p>
            <p class="slider__text slider__text--indent">
              Last time I have visited a cooking course by Eva I was impressed
              with the way she explained everything to people. You can be sure
              you will manage to cook a delicious dish even if it is your first
              time in the kitchen! Thank you so much for the masterclass!
              Looking forward to the next one and highly recommend it to
              everyone!
            </p>
          </div>
        </article>
        <article class="swiper-slide">
          <div class="slider-container">
            <img
              class="slider__img slider__img--indent"
              src="images/reviews/pic.png"
              alt=""
            />
            <svg class="slider__rate slider__rate--indent">
              <use href="images/icons.svg/symbol-defs.svg#rate-icon"></use>
            </svg>
            <p class="slider__name slider__name--indent">Will</p>
            <p class="slider__text slider__text--indent">
              Last time I have visited a cooking course by Eva I was impressed
              with the way she explained everything to people. You can be sure
              you will manage to cook a delicious dish even if it is your first
              time in the kitchen! Thank you so much for the masterclass!
              Looking forward to the next one and highly recommend it to
              everyone!
            </p>
          </div>
        </article>
        <article class="swiper-slide">
          <div class="slider-container">
            <img
              class="slider__img slider__img--indent"
              src="images/reviews/pic.png"
              alt=""
            />
            <svg class="slider__rate slider__rate--indent">
              <use href="images/icons.svg/symbol-defs.svg#rate-icon"></use>
            </svg>
            <p class="slider__name slider__name--indent">Will</p>
            <p class="slider__text slider__text--indent">
              Last time I have visited a cooking course by Eva I was impressed
              with the way she explained everything to people. You can be sure
              you will manage to cook a delicious dish even if it is your first
              time in the kitchen! Thank you so much for the masterclass!
              Looking forward to the next one and highly recommend it to
              everyone!
            </p>
          </div>
        </article>
      </div>

      <!-- If we need pagination -->
      <div class="swiper-pagination pagination"></div>
    </div>
  </div>
</section>
