<section class="reviews__section" id="reviews">
  <div class="container reviews__container">
    <h2 class="reviews__title reviews__title--indent section-title">Reviews</h2>
    <div class="swiper reviews__slider">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <article class="swiper-slide">
          <div class="slider-container">
            <picture>
              <!-- Set of images for desktop screens -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  images/reviews/reviewers/rev-1_lg.webp    1x,
                  images/reviews/reviewers/rev-1_lg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  images/reviews/reviewers/rev-1_lg.png    1x,
                  images/reviews/reviewers/rev-1_lg@2x.png 2x
                "
                type="image/png"
              />
              <!-- Set of images for tablet screens -->
              <source
                media="(min-width: 768px)"
                srcset="
                  images/reviews/reviewers/rev-1_md.webp    1x,
                  images/reviews/reviewers/rev-1_md@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  images/reviews/reviewers/rev-1_md.png    1x,
                  images/reviews/reviewers/rev-1_md@2x.png 2x
                "
                type="image/png"
              />
              <!-- Set of images for mobile screens -->
              <source
                media="(max-width: 767px)"
                srcset="
                  images/reviews/reviewers/rev-1_sm.webp    1x,
                  images/reviews/reviewers/rev-1_sm@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  images/reviews/reviewers/rev-1_sm.png    1x,
                  images/reviews/reviewers/rev-1_sm@2x.png 2x
                "
                type="image/png"
              />
              <!-- Default image -->
              <img
                class="slider__img slider__img--indent"
                src="images/reviews/reviewers/rev-1_sm.png"
                alt="photo of reviewer"
                loading="lazy"
              />
            </picture>
            <svg class="slider__rate slider__rate--indent">
              <use href="images/icons.svg/symbol-defs.svg#rate-icon"></use>
            </svg>
            <p class="slider__name slider__name--indent">Will</p>
            <p class="slider__text slider__text--indent">
              Last time I have visited a cooking course by Eva I was impressed
              with the way she explained everything to people. You can be sure
              you will manage to cook a delicious dish even if it is your first
              time in the kitchen! Thank you so much for the masterclass!
              Looking forward to the next one and highly recommend it to
              everyone!
            </p>
          </div>
        </article>
        <article class="swiper-slide">
          <div class="slider-container">
            <picture>
              <!-- Set of images for desktop screens -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  images/reviews/reviewers/rev-2_lg.webp    1x,
                  images/reviews/reviewers/rev-2_lg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  images/reviews/reviewers/rev-2_lg.png    1x,
                  images/reviews/reviewers/rev-2_lg@2x.png 2x
                "
                type="image/png"
              />
              <!-- Set of images for tablet screens -->
              <source
                media="(min-width: 768px)"
                srcset="
                  images/reviews/reviewers/rev-2_md.webp    1x,
                  images/reviews/reviewers/rev-2_md@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  images/reviews/reviewers/rev-2_md.png    1x,
                  images/reviews/reviewers/rev-2_md@2x.png 2x
                "
                type="image/png"
              />
              <!-- Set of images for mobile screens -->
              <source
                media="(max-width: 767px)"
                srcset="
                  images/reviews/reviewers/rev-2_sm.webp    1x,
                  images/reviews/reviewers/rev-2_sm@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  images/reviews/reviewers/rev-2_sm.png    1x,
                  images/reviews/reviewers/rev-2_sm@2x.png 2x
                "
                type="image/png"
              />
              <!-- Default image -->
              <img
                class="slider__img slider__img--indent"
                src="images/reviews/reviewers/rev-2_sm.png"
                alt="photo of reviewer"
                loading="lazy"
              />
            </picture>
            <svg class="slider__rate slider__rate--indent">
              <use href="images/icons.svg/symbol-defs.svg#rate-icon"></use>
            </svg>
            <p class="slider__name slider__name--indent">Elisabeth</p>
            <p class="slider__text slider__text--indent">
              Last time I have visited a cooking course by Eva I was impressed
              with the way she explained everything to people. You can be sure
              you will manage to cook a delicious dish even if it is your first
              time in the kitchen! Thank you so much for the masterclass!
              Looking forward to the next one and highly recommend it to
              everyone!
            </p>
          </div>
        </article>
        <article class="swiper-slide">
          <div class="slider-container">
            <picture>
              <!-- Set of images for desktop screens -->
              <source
                media="(min-width: 1280px)"
                srcset="
                  images/reviews/reviewers/rev-3_lg.webp    1x,
                  images/reviews/reviewers/rev-3_lg@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 1280px)"
                srcset="
                  images/reviews/reviewers/rev-3_lg.png    1x,
                  images/reviews/reviewers/rev-3_lg@2x.png 2x
                "
                type="image/png"
              />
              <!-- Set of images for tablet screens -->
              <source
                media="(min-width: 768px)"
                srcset="
                  images/reviews/reviewers/rev-3_md.webp    1x,
                  images/reviews/reviewers/rev-3_md@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(min-width: 768px)"
                srcset="
                  images/reviews/reviewers/rev-3_md.png    1x,
                  images/reviews/reviewers/rev-3_md@2x.png 2x
                "
                type="image/png"
              />
              <!-- Set of images for mobile screens -->
              <source
                media="(max-width: 767px)"
                srcset="
                  images/reviews/reviewers/rev-3_sm.webp    1x,
                  images/reviews/reviewers/rev-3_sm@2x.webp 2x
                "
                type="image/webp"
              />
              <source
                media="(max-width: 767px)"
                srcset="
                  images/reviews/reviewers/rev-3_sm.png    1x,
                  images/reviews/reviewers/rev-3_sm@2x.png 2x
                "
                type="image/png"
              />
              <!-- Default image -->
              <img
                class="slider__img slider__img--indent"
                src="images/reviews/reviewers/rev-3_sm.png"
                alt="photo of reviewer"
                loading="lazy"
              />
            </picture>
            <svg class="slider__rate slider__rate--indent">
              <use
                href="images/icons.svg/symbol-defs.svg#incomplete-rate-icon"
              ></use>
            </svg>
            <p class="slider__name slider__name--indent">John</p>
            <p class="slider__text slider__text--indent">
              Last time I have visited a cooking course by Eva I was impressed
              with the way she explained everything to people. You can be sure
              you will manage to cook a delicious dish even if it is your first
              time in the kitchen! Thank you so much for the masterclass!
              Looking forward to the next one and highly recommend it to
              everyone!
            </p>
          </div>
        </article>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination pagination"></div>
    </div>
  </div>
</section>
