.registration-form__form {
    @include mq(tablet) {
        display: flex;
        align-items: center;
        gap: 54px;
    }
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--indent {
        margin-bottom: 32px;
    }
}

.form-group {
    position: relative;
    padding-top: 25px;
}

.form-input {
    padding: 3px;
    color: var(--main-text-cl);
    background-color: transparent;
    outline: transparent;
    border: none;
    border-bottom: 1px solid var(--button-bg-cl);

    transition: border-color 400ms ease;

    @include mq(tablet) {
        width: 237px;
    }

    &:focus {
        border-color: var(--main-text-cl);
    }

    &::placeholder {
        opacity: 0;
        color: var(--placeholder-cl);
        transition: opacity 400ms ease;
    }
}

.registration__form-input {
    border-bottom: 1px solid var(--button-bg-cl);
    width: 264px;

    @include mq(tablet) {
        width: 237px;
    }

    @include mq(desktop) {
        width: 238px;
    }
}

.contacts__form-input {
    border-bottom: 1px solid var(--button-bg-cl);
    width: 280px;

    @include mq(tablet) {
        width: 336px;
    }

    @include mq(desktop) {
        width: 394px;
    }
}

.form-input:focus::placeholder {
    opacity: 1;
}

.form-label {
    position: absolute;
    top: 0;
    left: 0;
    @include fonts(400, 16px, 20px);
    color: var(--decoration-text-cl);
    transform: translateY(30px);

    transition: transform 400ms ease;

    .form-input:focus+&,
    .form-input:not(:placeholder-shown)+& {
        color: var(--button-bg-cl);
        transform: translateY(5px);
    }
}

.registration__form-input.error {
    border-bottom: 1px dashed var(--error-cl);
}

.contacts__form-input.error {
    border-bottom: 1px dashed var(--error-cl);
}
