.more__button {
    padding: 0;
    font-family: 'Caveat Brush', cursive;
    @include fonts(400, 18px, 23px);
    background-color: transparent;
    color: var(--button-bg-cl);
    border: 1px solid transparent;

    cursor: pointer;

    transition: color var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
        color: var(--btn-hover-bg-cl);
        text-decoration: underline;
    }
}