.register-btn, .contacts-btn {
    display: inline-block;
    padding: 9px 47px;
    min-width: 145px;
   
    font-family: 'Caveat Brush', cursive;
    @include fonts(400, 18px, 23px);
    color: var(--button-text-cl);
    background-color: var(--button-bg-cl);
    border-radius: 25px;

    cursor: pointer;

    transition: background-color var(--transition-duration) var(--transition-timing-function);

    @include mq(desktop) {
        min-width: 158px;
        @include fonts(400, 24px, 30px);
    }

    &:hover,
    &:focus {
        background-color: var(--btn-hover-bg-cl);
    }
}