.more__button {
    padding: 0;
    font-family: 'Caveat Brush', cursive;
    @include fonts(400, 18px, 23px);
    background-color: transparent;
    color: var(--secondary-btn-text-cl);
    border: 1px solid transparent;

    cursor: pointer;
}