.about__section {
    padding-bottom: 16px;
}

.about__title--indent {
    margin-bottom: 8px;
}

.about__text--indent {
    margin-bottom: 15px;
}

.read-more-btn__about.invisible,
.read-less-btn__about.invisible,
.read-more-text__about.invisible {
    display: none;
}
