.about__section {
    padding-bottom: 16px;

    @include mq(tablet){
        padding-bottom: 88px;
    }

    @include mq(desktop){
        padding-top: 100px;
    }
}

.about__container {
    @include mq(tablet){
        display: flex;
        // align-items: center;
        gap: 32px;
    }

    @include mq(desktop){
        padding-right: 123px;
        padding-left: 123px;
        gap: 140px;
        align-items: center;
    }
}

.about__img {
    margin-left: auto;
    margin-right: auto;

    @include mq(mobile-only) {
        &--indent {
            margin-bottom: 16px;
        }
    }

    @include mq(tablet) {
        width: 337px;
    }

    @include mq(desktop) {
        width: 502px;
    }
}

.about__title--indent {
    margin-bottom: 8px;

    @include mq(tablet){
        margin-bottom: 16px;
    }
}

.about-text__container {
    
    @include mq(mobile-only) {
        &--indent {
            margin-bottom: 16px;
    }

    }
    @include mq(tablet) {
        max-width: 336px;
    }

    @include mq(desktop) {
        max-width: 392px;
    } 
}

.read-more-btn__about.invisible,
.read-less-btn__about.invisible,
.read-more-text__about.invisible {
    display: none;
}

.read-more-btn__about,
.read-less-btn__about {
    @include mq(desktop) {
        display: none;
    } 
}

.read-more-text__about.invisible {
    @include mq(desktop) {
        display: block;
    } 
}