.contacts__section {
    padding-bottom: 32px;
}

.contacts__container {
    text-align: center;
}

.contacts__title--indent {
    margin-bottom: 16px;

    @include mq(tablet) {
        margin-bottom: 20px;
    }
}

.contacts__subtitle--indent {
    margin-bottom: 10px;
}

.contacts__form-input {
    width: 336px;
}
