.footer__section {
    padding-bottom: 20px;
}

.footer__contacts-container {
    @include mq(tablet) {
        padding-right: 60px;
    }
    @include mq(desktop) {
        padding-left: 107px;
        padding-right: 288px;
    }
}

.footer__socials-list--indent {
    margin-bottom: 32px;

    @include mq(desktop) {
        margin-bottom: 60px;
    }

    @include mq(desktop) {
        margin-bottom: 80px;
    }
}

.footer__contacts-list {
    display: flex;
    justify-content: space-between;
}

.footer__contacts-link {
    display: flex;
    align-items: center;

    color: inherit;
    transition: color var(--transition-duration) var(--transition-timing-function);

    &:hover,
    &:focus {
        color: var(--button-bg-cl);
    }
}

.footer__contacts-svg {
    fill: currentColor;
    width: 13px;
    height: 13px;

    &--indent {
        margin-right: 4px;
    }

    .footer__contacts-link:hover &,
    .footer__contacts-link:focus & {
        color: var(--button-bg-cl);
    }
}

.phone-icon {
    animation: swing 5s ease-in-out infinite forwards;
}

.location-icon {
    animation: bounce-top 2s ease-in-out infinite forwards;
}