.footer__section {
    padding-bottom: 20px;
    // /**
    // |============================
    // | background image for mobile version
    // |============================
    // */
    // background-repeat: no-repeat;
    // background-position: right bottom;
    // background-origin: padding-box;
    
    // background-image: url("/src/images/footer/wheat-flour_sm.png");
    // // background-image: -webkit-image-set(url("/src/images/footer/wheat-flour_sm.webp") 1x);

    // //retinized 2x background image
    // @include mq(retina) {
    //     background-image: url("/src/images/footer/wheat-flour_sm@2x.png");
    //     // background-image: -webkit-image-set(url("/src/images/footer/wheat-flour_sm@2x.webp") 2x);
    // }
    
    // /**
    // |============================
    // | background image for tablet version
    // |============================
    // */
    // @include mq(tablet) {
    //     background-image: url("/src/images/footer/wheat-flour_md.png");
    //     // background-image: -webkit-image-set(url("/src/images/footer/wheat-flour_md.webp") 1x);
    
    //     // retinized 2x background image
    //     @include mq(retina) {
    //         background-image: url("/src/images/footer/wheat-flour_md@2x.png");       
    //     }
    //     // background-image: -webkit-image-set(url("/src/images/footer/wheat-flour_md@2x.webp") 2x);
    // }
    
    // /**
    // |============================
    // | background image for desctop version
    // |============================
    // */
    // @include mq(desktop) {
    //     background-image: url("/src/images/footer/wheat-flour_lg.png");
    //     // background-image: -webkit-image-set(url("/src/images/footer/wheat-flour_lg.webp") 1x);
    
    //     // background image for tablet version
    //     @include mq(retina) {
    //         background-image: url("/src/images/footer/wheat-flour_lg@2x.png");    
    //     }
    //     // background-image: -webkit-image-set(url("/src/images/footer/wheat-flour_lg@2x.webp") 2x);
    // }
}

.footer__contacts-container {
    @include mq(tablet) {
        padding-right: 60px;
    }
    @include mq(desktop) {
        padding-left: 107px;
        padding-right: 288px;
    }
}

.footer__socials-list--indent {
    margin-bottom: 32px;

    @include mq(desktop) {
        margin-bottom: 60px;
    }

    @include mq(desktop) {
        margin-bottom: 80px;
    }
}

.footer__contacts-list {
    display: flex;
    justify-content: space-between;
}

.footer__contacts-link {
    display: flex;
    align-items: center;

    color: inherit;
}

.footer__contacts-svg {
    width: 13px;
    height: 13px;

    &--indent {
        margin-right: 4px;
    }
}