.header__section {
    position: relative;
    @include mq(mobile-only) {
        padding-top: 8px;
        padding-bottom: 16px;
    }

    @include mq(desktop) {
        padding-top: 38px;
    }
}

.header {
    /**
    |============================
    | background image for mobile version
    |============================
    */
    background-repeat: no-repeat;
    background-position: left top;
    background-origin: padding-box;
    background-size: auto;

    @include mq(mobile-only) {
        background-image: url("/src/images/header/corner-donuts/hed-don_sm.png");
    // background-image: -webkit-image-set(url("/src/images/header/corner-donuts/hed-don_sm.webp") 1x);
    
    //retinized 2x background image
        @include mq(retina) {
            background-image: url("/src/images/header/corner-donuts/hed-don_sm@2x.png");
            // background-image: -webkit-image-set(url("/src/images/header/corner-donuts/hed-don_sm@2x.webp") 2x);
        }
    }
}

.header__container {
    @include mq(tablet-only) {
        padding-top: 36px;
        padding-bottom: 69px;
         /**
        |============================
        | background image for tablet version
        |============================
        */
        background-repeat: no-repeat;
        background-position: top right 117px;
        
        background-image: url("/src/images/header/corner-donuts/hed-don_md.png");
        // background-image: -webkit-image-set(url("/src/images/header/corner-donuts/hed-don_md.webp") 1x);
            
        // retinized 2x background image
        @include mq(retina) {
            background-image: url("/src/images/header/corner-donuts/hed-don_md@2x.png"); 
            // background-image: -webkit-image-set(url("/src/images/header/corner-donuts/hed-don_md@2x.webp") 2x);
        }
    }
}

.header-nav {
    display: flex;
    align-items: center;

    @include mq(tablet){
        align-items: flex-start;
    }

    @include mq(desktop){
        align-items: center;
    }

    &--indent {
        margin-bottom: 30px;

        @include mq(tablet) {
            margin-bottom: 15px;
        }

        @include mq(desktop) {
            margin-bottom: 42px;
        }
    }
}

.header-nav__logo-link {
    animation: bounce-in-left 1.1s both;

    &--indent {
        margin-left: auto;

        @include mq(tablet) {
            margin-left: 0;
            margin-right: auto;
        }

        @include mq(desktop) {
            margin-right: 0;
        }
    }
}

.header-nav__logo-img {
    @include mq(tablet) {
        width: 96px;
    }

    @include mq(desktop) {
        width: 158px;
    }
}

.desktop-header__list {
    @include mq(not-desktop) {
        display: none;
    }

    display: flex;
    gap: 20px;

    &--indent {
        margin-right: 564px;
        margin-left: auto;
    }

    animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 4.0s both;
}

.desktop-header__link {
    position: relative;
    padding-bottom: 8px;
    @include fonts(400, 18px, 22px);
    color: var(--main-text-cl);
    background-color: transparent;

    transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function);

    &::after {
        content: '';
        width: 0%;
        height: 4px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color:var(--hover-text-cl);

        transition: width var(--transition-duration) var(--transition-timing-function);
    }
    
    &:hover,
    &:focus {
        color: var(--btn-hover-bg-cl);
    }

    &:hover::after,
    &:focus::after {
        width: 100%;
    }
}

.hero__block {
    @include mq(mobile-only) {
        text-align: center;
    }
}

.header__title {
    font-family: 'Caveat Brush', cursive;
    @include fonts(400, 30px, 38px);

    animation: tracking-in-contract 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1.1s both;

    @include mq(mobile){
        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
    }
    
    @include mq(desktop) {
        @include fonts(400, 64px, 65px);
    }

    &--indent {
        margin-bottom: 8px;

        @include mq(desktop) {
            margin-bottom: 16px;
        }
    }	
}

.header__subtitle {
    font-family: 'Montserrat', sans-serif;
    @include fonts(500, 16px, 20px);

    animation: tracking-in-contract 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2.0s both;
    
    @include mq(mobile){
        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1.8s both;
    }

    @include mq(desktop) {
        @include fonts(500, 24px, 30px);
    }

    &--indent {
        margin-bottom: 32px;

        @include mq(tablet-only) {
            margin-bottom: 20px;
        }
    }
}

.socials-list--header {
    animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.4s both;
}

.header__link {
    animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.0s both;

    &--indent {
        margin-bottom: 40px;

        @include mq(tablet) {
            margin-bottom: 20px;
        }

        @include mq(desktop) {
            margin-bottom: 32px;
        }
    }
}