.hero__container {
    @include mq(new-hero) {
        margin-left: 0;
        max-width: 1200px;
        width: 100%;
    }
}

.overlay { 
    margin-left: auto;
    margin-right: auto;

    max-width: 564px;
    width: 100%;
    height: 700px;

    background-image:
        linear-gradient(to left, rgba(60, 59, 63, 0.4), rgba(96, 92, 60, 0.4)),
        url("/src/images/hero/hero.jpg");

    background-color: #020B14;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include mq(new-hero) {
        background-image:
            linear-gradient(to left, rgba(60, 59, 63, 0.4), rgba(96, 92, 60, 0.5)),
            url("/src/images/hero/big-hero.jpg");
        max-width: 6000px;
    }
}

.hero__title {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    color: #FFFAFA;

    @include mq(mini-mobile) {
        @include fonts(400, 70px, 1.8, 0.04em);
        margin-bottom: 70px;
        padding-top: 10px;
    }

    @include mq(mobile) {
        @include fonts(400, 85px, 1.5, 0.04em);
        margin-bottom: 90px;
    }

    @include mq(new-hero) {
        @include fonts(400, 90px, 1.5, 0.04em);
        margin-bottom: 60px;
    }

    @include mq(tablet) {
        @include fonts(400, 100px, 1.5, 0.04em);
    }

    @include mq(desktop) {
        @include fonts(400, 120px, 1.2, 0.04em);
    }
}

.hero__word {
    display: block;
    @include mq(mini-mobile) {
        &--second-part {
            font-weight: 400;
            line-height: 1.14;
            padding-left: 65px;
        }

        &--third-part {
            padding-left: 0px;
        }

        &--fourth-part {
            padding-left: 25px;
        }
    }

    @include mq(mobile) {
        &--first-part {
            padding-left: 60px;
        }

        &--second-part {
            font-weight: 400;
            line-height: 1.14;
            padding-left: 170px;
        }

        &--third-part {
            padding-left: 30px;
        }

        &--fourth-part {
            padding-left: 80px;
        }
    }

    @include mq(new-hero) {
        &--first-part {
            padding-left: 40px;
        }

        &--second-part {
            font-weight: 400;
            line-height: 1.14;
            padding-left: 110px;
        }

        &--third-part {
            padding-left: 10px;
        }

        &--fourth-part {
            padding-left: 50px;
        }
    }

    @include mq(big-hero) {
        &--first-part {
            padding-left: 40px;
        }

        &--second-part {
            font-weight: 400;
            line-height: 1.14;
            padding-left: 180px;
        }

        &--third-part {
            padding-left: 20px;
        }

        &--fourth-part {
            padding-left: 80px;
        }
    }
}

.lowercase-word {
    @include mq(mini-mobile) {
        font-size: 45px;
    }

    @include mq(mobile) {
        font-size: 50px;
    }

    @include mq(new-hero) {
        font-size: 55px;    
    }

    @include mq(desktop) {
        font-size: 70px;
    }
}

.hero__btn {
    margin-left: auto;
    margin-right: auto;
    @include mq(new-hero) {
        margin-left: 100px;
    }
    padding: 15px;

    display: block;

    font-family: 'Quicksand', sans-serif;
    @include fonts(400, 20px, 1.2, 0.04em);
    
    border: 1px solid #F8F8FF;
    border-radius: 30px;
    
    color: #F8F8FF;
    background-color: rgba(0, 0, 0, 0.5);

    &:hover,
    &:focus {
        background-color: #8FBC8B;
        color: #F8F8FF;
        border: 1px solid transparent;
    }
}

// .hero__btn:hover,
// .hero__btn:focus {
//     background-color: #8FBC8B;
//     color: #F8F8FF;
//     border: 1px solid transparent;
// }