.program__section {
    padding-bottom: 20px;

    @include mq(tablet){
        padding-bottom: 50px;
    }

    @include mq(desktop){
        padding-bottom: 41px;
    }
}

.program__container {
    @include mq(tablet){
        display: flex;
        gap: 32px;
    }

    @include mq(desktop){
        padding-left: 123px;
        padding-right: 107px;
        gap: 142px;
    }
}

.program__title--indent {
    margin-bottom: 8px;
}

.program__first-text-block-paragraph {
    &--indent {
        margin-bottom: 8px;
    }
}

.program__text-block {
    max-width: 339px;

    @include mq(desktop){
        max-width: 392px;
    }

    &--indent {
        @include mq(mobile-only){
            margin-bottom: 55px;
        }
    }
}

.program__text-block-list--indent {
    margin-bottom: 8px;

    @include mq(tablet){
        margin-bottom: 16px;
    }
}

.program__text-block-item--indent:not(:last-child) {
    margin-bottom: 8px;
}

.program__text-block-paragraph::before {
    content: '>';
}

.read-more-btn__program.invisible,
.read-less-btn__program.invisible,
.read-more-text__program.invisible {
    display: none;
}

.read-more-btn__program,
.read-less-btn__program {
    @include mq(desktop) {
        display: none;
    }
}

.read-more-text__program.invisible {
    @include mq(desktop) {
        display: block;
    }
}

.event-info__block {
    width: 280px;
    margin-left: auto;
    margin-right: auto;

    @include mq(event-section){
        width: 460px;
    }

    @include mq(tablet) {
        width: 336px;
    }

    @include mq(desktop) {
        width: 500px;
    }
}

.event-info__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    @include mq(mobile-only) {
        gap: 20px;
    }

    @include mq(event-section) {
        gap: 60px;
    }
}

.event-info__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    box-shadow: 0px 4px 4px 0px #AB816C40;
    border-radius: 50%;

    width: 130px;
    height: 130px;

    background-color: var(--event-bg-cl);
    background-repeat: no-repeat;
    background-position: left 50% bottom 10px;

    @include mq(tablet){
        width: 152px;
        height: 152px;

        gap: 8px;

        background-size: 21px 21px;
        background-position: left 50% bottom 18px;
    }

    @include mq(desktop){
        width: 180px;
        height: 180px;

        gap: 16px;

        background-size: 21px 21px;
        background-position: left 50% bottom 18px;
    }
}

.event-info__item:nth-child(1) {
    background-image: url(/src/images/icons.svg/chef-hat-icon.svg);
}

.event-info__item:nth-child(2) {
    background-image: url(/src/images/icons.svg/people-icon.svg);
}

.event-info__item:nth-child(3) {
    background-image: url(/src/images/icons.svg/clock-icon.svg);
}

.event-info__item:nth-child(4) {
    background-image: url(/src/images/icons.svg/chat-icon.svg);
}

.event-info__item:nth-child(even) {
    margin-top: 36px;

    @include mq(tablet) {
        margin-top: 60px;
    }

    @include mq(desktop) {
        margin-top: 127px;
    }
}

.event-info__item:nth-child(odd) {
    // margin-top: 36px;

    @include mq(tablet) {
        margin-right: 29px;
    }

    @include mq(desktop) {
        margin-right: 140px;
    }
}

.event-info__title {
    font-family: 'Caveat Brush', cursive;
    @include fonts(400, 18px, 23px);
    color: var(--secondary-text-cl);

    @include mq(desktop) {
        @include fonts(400, 24px, 30px);
    }
}

.event-info__text {
    @include fonts(400, 14px, 17px);
    color: var(--secondary-text-cl);

    @include mq(desktop) {
        @include fonts(400, 16px, 20px);
    }
}

.event-info__img {
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translate(-50%, 50%);

    @include mq(tablet) {
        width: 83px;
    }

     @include mq(desktop) {
        width: 97px;
    }
}