.registration__section {
    @include mq(mobile-only) {
        padding-bottom: 32px;
    }

    @include mq(tablet-only) {
        padding-bottom: 78px;
    }

    // @include mq(desktop) {
    //     padding-bottom: 160px;
    // }
}

.registration__container {
    @include mq(tablet-only) {
        padding-bottom: 78px;
        /**
        |============================
        | background image for tablet version
        |============================
        */
        background-repeat: no-repeat;
        background-position: left -9%, 100% 180%;
        background-origin: padding-box;
    
        background-image: url("/src/images/registration/donut/don_md.png"), url('/src/images/registration/confetti/confetti_md.png');
        // background-image: -webkit-image-set(url("/src/images/registration/donut/don_md.webp") 1x), -webkit-image-set(url("/src/images/registration/confetti/confetti_md.webp") 1x);
    
        // retinized 2x background image
            @include mq(retina) {
                background-image: url("/src/images/registration/donut/don_md@2x.png"), url('/src/images/registration/confetti/confetti_md@2x.png');
            }
        }
            // background-image: -webkit-image-set(url("/src/images/registration/donut/don_md@2x.webp") 2x), -webkit-image-set(url("/src/images/registration/confetti/confetti_md@2x.webp") 2x);
   
     @include mq(desktop) {
        padding-bottom: 160px;
        /**
        |============================
        | background image for desctop version
        |============================
        */
        background-repeat: no-repeat;
        background-position: 10% 0, 100% -400%;
        background-image: url("/src/images/registration/donut/don_lg.png"), url('/src/images/registration/confetti/confetti_lg.png');
            // background-image: -webkit-image-set(url("/src/images/registration/donut/don_lg.webp") 1x),
            //     -webkit-image-set(url("/src/images/registration/confetti/confetti_lg.webp") 1x);
        
        // retinized 2x background image
        @include mq(retina) {
            background-image: url("/src/images/registration/donut/don_lg@2x.png"), url('/src/images/registration/confetti/confetti_lg@2x.png');
        }
            // background-image: -webkit-image-set(url("/src/images/registration/donut/don_lg@2x.webp") 2x),
            // -webkit-image-set(url("/src/images/registration/confetti/confetti_lg@2x.webp") 2x);
    }
}

.registration__wrapper {
    margin-right: auto;
    margin-left: auto;
   
    background-color: var(--main-bg-cl);
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 150px 150px 0px 0px;
    box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
    
    @include mq(mobile-only) {
        max-width: 450px;
        width: 100%;
    }

    @include mq(tablet){
        max-width: 822px;
            width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 150px;
        padding: 40px 60px;
    }
}

.registration__info {
    @include mq(tablet){
        display: flex;
        align-items: center;
        gap: 32px;
        margin-right: 24px;
    }
}

.registration__title {
    @include mq(mobile-only){
        display: none;
    }

    text-align: center;

    &--indent {
        margin-bottom: 30px;

        @include mq(desktop){
            margin-bottom: 16px;
        }
    }
}

.registration__title-mobile {
    &--indent {
        margin-bottom: 20px;

        @include mq(tablet){
            display: none;
        }
    }
}

.registration__timetable {
    @include fonts(500, 18px, 22px);

    @include mq(tablet) {
        max-width: 90px;
        text-align: right;
    }

    &--indent {
        margin-bottom: 20px;

        @include mq(tablet){
            display: flex;
            margin-bottom: 32px;
        }
    }
}

.registration__price {
    @include fonts(500, 18px, 22px);

    &--indent {
        margin-bottom: 10px;

        @include mq(tablet){
            margin-bottom: 0px;
        }
    }
}

.registration__info::after {
    content: '';
    margin-bottom: 8px;
    display: inline-block;
    width: 264px;
    height: 1px;
    background-color:var(--decoration-text-cl);

    @include mq(tablet) {
        margin-bottom: 0px;
        width: 1px;
        height: 180px;
    }
}

.submit-btn {
    border: 1px solid transparent;
}

.registration-form__title {
    @include mq(tablet) {
        text-align: left;
    }
}