.reviews__section {
    padding-bottom: 32px;

    @include mq(tablet){
        padding-bottom: 60px;
    }
}

.reviews__slider {
    padding-top: 20px;
}

.reviews__container {
    text-align: center;

    @include mq(desktop){
        padding-left: 60px;
        padding-right: 60px;
    }
}

.reviews__title--indent {
    margin-bottom: 20px;
}

.slider__img--indent {
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
}

.slider__rate {
    width: 136px;
    height: 24px;

    &--indent {
        margin-bottom: 8px;
    }
}

.slider__name {
    @include fonts(500, 14px, 17px);
    font-style: italic;

    &--indent {
        margin-bottom: 8px;
    }
}

.slider__img {
    @include mq(tablet){
        width: 336px;
    }

    @include mq(desktop){
        width: 394px;
    }
}

.slider__text {
    opacity: 0;

    &--indent {
        margin-bottom: 32px;
    }
}

.swiper-slide-active .slider__text {
    opacity: 1;
}

.pagination {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    @include fonts(400, 14px, 17px);
    color: var(--button-bg-cl);

    &::before {
        content: '';
        margin-right: 12px;
        display: inline-block;
        background-color: var(--button-bg-cl);
        width: 35px;
        height: 1px;
    }

    &::after {
        content: '';
        margin-left: 12px;
        display: inline-block;
        background-color: var(--button-bg-cl);
        width: 35px;
        height: 1px;
    }
}